@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&family=Lato:wght@300&display=swap');
:root {
    --main-bg-color: #2874f0;
  }
  
*{
    padding: 0;
    margin: 0;
}
header{
    background : var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 88px;
    padding: 0 25px;
}
nav ul{
    height: 58px; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* color: rgb(165, 19, 19) ; */
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}
.slider{
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: auto;
    /* background-color: green; */
}
.card h2{
    font-family: 'Lato', sans-serif;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    margin: 0 15px;
}
footer{
    height: 12vh;
    background : var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}